@model Practice1.Models.Student

@{
    ViewBag.Title = "Chi tiết sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Practice1.Models.ManageStudentEntities3 db = new Practice1.Models.ManageStudentEntities3();
}

<div class="container mt-2">
    <h4>Chi tiết thông tin sinh viên</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://reviewedu.net/wp-content/uploads/2021/08/dai-hoc-nha-trang-ntu-2.jpg" alt="Hình ảnh" />
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(model => model.Name)
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b> Ngày sinh:</b>  @Html.DisplayFor(model => model.Birth)
                    </li>
                    <li class="list-group-item">
                        <b> Chuyên ngành:</b>   @Html.DisplayFor(model => model.Major)
                    </li>

                    <li class="list-group-item">
                        <b> Số điện thoại:</b>  @Html.DisplayFor(model => model.PhoneNumber)
                    </li>
                    <li class="list-group-item">
                        <b> Giới tính:</b>  @Html.DisplayFor(model => model.Sex)
                    </li>
                    <li class="list-group-item">
                        <b> Học lực:</b>
                       
                    </li>
                </ul>
            </div>
            <a href="~/Student/ListStudent">Trở về</a>
        </div>
        <div class="col-md-8">
                <h3>
                    Chi tiết học phần của sinh viên có tên
                    <u>Vũ</u>
                </h3>
                <table class="table mt-2 mb-2">
                    <thead>
                        <tr>
                            <th scope="col">Mã học phần</th>
                            <th scope="col">Tên học phần</th>
                            <th scope="col">Số tín chỉ</th>
                            <th scope="col">Giảng viên</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Courses)
                        {
                            <tr>
                                <th>@item.courseID</th>
                                <td>@item.courseName</td>
                                <td>@item.courseCredits</td>
                                <td>@item.courseTeacher</td>
                                <td>
                                    <a href="~/Student/RemoveCourse?idStudent=@Model.ID&idCourse=@item.courseID" style="color: red">Remove</a> |
                                    <a href="~/Student/UpdateCourse?idStudent=@Model.ID&idCourse=@item.courseID" style="color: greenyellow">Update</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-success">
                    <a style="text-decoration: none; color: white" href="~/Student/AddCourse?idStudent=@Model.ID">Thêm học phần</a>
                </button>
            </div>
    </div>
</div>

@section JS {
    <script>
        var typeStudentArray = @Html.Raw(Json.Encode(ViewBag.TypeStudentArray));

        function GetTypeName(idTypeStudent) {
            var typeName = typeStudentArray.find(function (type) {
                return type.ID === idTypeStudent;
            });

            return typeName ? typeName.typeName : "Chưa có học lực";
        }

        // Wait for the document to be ready
        document.addEventListener("DOMContentLoaded", function () {
            var idTypeStudent = @Html.Raw(Json.Encode(Model.idTypeStudent));
            var typeNameElement = document.getElementById("typeName");
            typeNameElement.textContent = GetTypeName(idTypeStudent);
        });
    </script>
}